#about {
    position: absolute;
    // top: -10rem;
    top: 10rem;
    left: 15%;
    height: 20rem;
    width: 70%;
    // margin: 0 auto;
    // background: salmon;
    z-index: 10;
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;

    .title {
        text-align: center;
    }

    .name {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {

        color: $color-white-1;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: .3vw;
        margin: 2rem 0rem;
        text-transform: uppercase;
    }

    .name__last {
        margin-left: 1.5rem;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white-1;
    }

    h2 {
        font-size: 1rem;
        letter-spacing: .1vw;
        color: $color-white-1;
        font-weight: 100;

    }

    .blurb {
        width: 80%;
        margin: 7.5rem auto;
        // margin: 2rem;
    }

    p {
        color: $color-white-1;
        line-height: 2rem;
    }

    .icons__media {
        margin: 4rem auto;
        width: 25%;
        display: flex;
        justify-content: space-around;

        // align-items:x
        a {
            line-height: 0;
        }

        svg {
            // width: 4vw;
            // height: 4vw;
            fill: $color-white-1;
            opacity: 0.7;
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                opacity: 1;
                // transform: translateY(-.5rem);
                transform: scale(1.1);
                fill: $color-white-1;
            }
        }

        ion-icon {
            font-size: 32px;
            color: $color-white-1;
        }
    }
}