#about {
    position: absolute;
    // top: -10rem;
    top: 12rem;
    left: 15%;
    height: 20rem;
    width: 70%;
    // margin: 0 auto;
    // background: salmon;
    z-index: 10;
    // display: flex;
    // justify-content: flex-start;
    // align-items: flex-start;

    .title {
        text-align: center;
    }

    .name {

        // background: teal;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        // background: yellow;
        line-height: 2.1rem;
        color: $color-white-1;
        font-weight: 100;
        font-size: 3rem;
        letter-spacing: .3vw;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    .name__last {
        margin-left: 1.5rem;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white-1;
    }

    h2 {
        font-size: 1rem;
        letter-spacing: .1vw;
        color: $color-white-1;
        font-weight: 100;

    }

    .blurb {
        width: 80%;
        margin: 4rem auto;
        margin-bottom: 4rem;
        // margin: 2rem;
    }

    a {
        color: $color-white-1;
        text-decoration-line: underline
    }

    p {
        color: $color-white-1;
        line-height: 2rem;
    }

    .btn__nav__contact {
        // border: $color-white-1 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        // text-transform: uppercase;
        background: rgba(250, 114, 114, 0.8);
        // font-size: 1.5rem;

        // background: rgba(salmon, 0.5);
        height: 3rem;
        width: 30%;
        margin: 0 auto;
        transition: all .2s ease-out;
        // padding-left: 1rem;

        &:hover {
            background: rgba(250, 114, 114, 1);
        }



        span {
            // display: block;
            display: flex;
            align-items: center;
            // justify-content: flex-end;
            // justify-content: center;
            height: 100%;
            // width: 100%;
            font-weight: 700;
            // background: gray;
            // margin-right: 10px;
        }

        img {
            justify-self: flex-start;
            display: inline-block;
            // background: slategray;
            // width: 50%;

            animation-duration: 1.2s;
            animation-name: animateArrow;
            animation-iteration-count: infinite;
            animation-direction: alternate;

        }

        @keyframes animateArrow {
            from {
                transform: translateX(0) translateY(0);
            }

            to {
                transform: translateX(10px);
            }
        }
    }

    button {
        height: 3rem;
        width: 20%;
    }
}