// COLORS
$color-alizarin-light-5:#FDEDEC;
$color-alizarin-light-4:#FADBD8;
$color-alizarin-light-3:#F5B7B1;
$color-alizarin-light-2:#F1948A;
$color-alizarin-light-1:#EC7063;
$color-alizarin: #E74C3C;

$color-river-light-5: #EBF5FB;
$color-river-light-4: #D6EAF8;
$color-river-light-3: #AED6F1;
$color-river-light-2: #85C1E9;
$color-river-light-1: #5DADE2;
$color-river: #3498DB;

$color-turquoise-light-5: rgb(232, 248, 245);
$color-turquoise-light-4: rgb(209, 242, 235);
$color-turquoise-light-3: rgb(163, 228, 215);
$color-turquoise-light-2: rgb(118, 215, 196);
$color-turquoise-light-1: rgb(72, 201, 176);
$color-turquoise: rgb(26, 188, 156);

// BLUE GREY
$color-asphalt-light-5: rgb(235, 237, 239);
$color-asphalt-light-4: rgb(214, 219, 223);
$color-asphalt-light-3: rgb(174, 182, 191);
$color-asphalt-light-2: rgb(133, 146, 158);
$color-asphalt-light-1: rgb(93, 109, 126);
$color-asphalt: rgb(52, 73, 94);
$color-asphalt-dark-1: rgb(46, 64, 83);
$color-asphalt-dark-1: rgb(40, 55, 71);
$color-asphalt-dark-4: rgb(27, 38, 49);
// GREYS
$color-silver-light-5: rgb(248, 249, 249);
$color-silver-light-4: rgb(242, 243, 244);
$color-silver-light-3: rgb(229, 231, 233);
$color-silver-light-2: rgb(215, 219, 221);
$color-silver-light-1: rgb(202, 207, 210);
$color-silver: rgb(189, 195, 199);


// PRIMARY
$color-primary-1: $color-asphalt;
$color-primary-2: $color-asphalt-dark-1;

// SECONDARY
$color-secondary-1: rgba(250, 114, 114, 1);

// TERTIARY
$color-tertiary-1: $color-alizarin;
// WHITES
$color-white-1: ghostwhite;
$color-white-2: $color-silver;

$color-grey-1: rgba(0, 0, 0, 0.3);

// $color-grey-1: rgba(255, 255, 255, 0.5);