#contact {
    position: relative;
    bottom: 0;
    height: 100%;

    // margin-top: 6rem;
    background: $color-primary-1;
    padding-bottom: 6rem;
    // z-index: ;

    // background-image: url('%PUBLIC_URL%/svg/map-01.svg');
    img {
        position: absolute;
        pointer-events: none;
        // top: 0;
        // left: 0;
        height: 100%;
        width: 100%;

        opacity: 0.1;
        z-index: 1;
    }

    h1 {
        // font-family: "Barriecito";
        color: $color-white-1;
        text-align: center;
        letter-spacing: 3px;
        // color: $color-primary-1;
        font-weight: 700;
        // margin: 8rem 0 8rem 0;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }

    .container {
        z-index: 10;
        height: 100%;
        width: 50%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        // overflow: hidden;
    }

    .input-group {
        width: 100%;
        // z-index: 10;

    }

    label {
        display: inline-block;
        // height: 2rem;
        color: $color-white-1;
        font-weight: 500;
        // letter-spacing: 2px;
    }

    input {
        display: block;
        border-radius: none;
        // height: 2rem;
        width: 100%;
        background: $color-white-1;
        border: none;
        outline: none;

        margin: 1rem 0;
        padding: .6rem 1.5rem;
        transition: all .1s ease-out;
        font-size: .8rem;


        &:focus {
            outline: solid rgba($color-secondary-1, .8) 3px;
            background: $color-white-1;

        }
    }

    textarea {
        display: block;
        border-radius: none;
        margin: 1rem 0;
        width: 100%;
        padding: 1rem 1.5rem;
        font-size: .8rem;
        transition: all .1s ease-out;
        background: $color-white-1;
        border: none;
        outline: none;

        &:focus {
            outline: solid rgba($color-secondary-1, .8) 3px;
            background: $color-white-1;
        }
    }

    .btn-submit {
        // background: $color-secondary-1;
        background: linear-gradient(to bottom right, $color-secondary-1, $color-secondary-2);
        color: $color-white-1;
        border: none;
        height: 4rem;
        display: inline-block;
        width: 100%;
        margin: 1rem 0;
        opacity: .8;
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all .3s ease-out;
        z-index: 10;
        font-weight: 700;

        &:hover {
            opacity: 1;
            cursor: pointer;

        }
    }
}

// Mobile
@media (min-width: 0px) and (max-width: 768px) {
    #contact {
        .container {
            width: 80%;
        }

        img {
            display: none;
        }
    }
}