canvas {
    display: block;
    overflow: hidden;
}

header {
    position: fixed;
    z-index: 1000;

    background: rgba($color-tertiary-1, .95);

    width: 100%;
    height: 5rem;
    padding: 0 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &::after {
        content: "";
        position: fixed;
        height: 3px;
        width: 100%;
        // background: linear-gradient(to right, white, $color-secondary-1);
    }
}

#logo {
    height: 100%;
    padding: 0 0rem;
    line-height: 0rem;
    display: flex;
    align-items: center;

    h1 {
        color: white;
    }
}

a {
    transition: .3s ease-out;
}

nav {

    display: flex;
    height: 100%;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;

    .scroll {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: ghostwhite;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5px;
            transform: translateY(0px);
        }

        &::before {
            z-index: 0;
            height: 100%;
            content: "";
        }
    }

    .scroll:hover {
        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            bottom: 0;
            animation-name: fire;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: forwards;
            backface-visibility: hidden;

        }


    }

    @keyframes fire {
        0% {

            background-color: rgba(ghostwhite, 0);
            height: 100%;
            width: 100%;
        }

        100% {
            background-color: rgba(ghostwhite, .2);
            height: 100%;
            width: 100%;

        }
    }

    .active {
        background: rgba(black, 0.1);
        transform: translateY(-5px);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 5px;
            transform: translateY(5px);
            background: ghostwhite;
        }

    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        width: 50%;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    nav {
        display: none;
    }
}