canvas {
    display: block;
    overflow: hidden;
    backface-visibility: hidden;
    // -webkit-backface-visibility: hidden;
    // -webkit-transform-style: preserve-3d;
    // -webkit-font-smoothing: subpixel-antialiased;
}

header {
    position: fixed;
    z-index: 1000;

    background: rgba($color-tertiary-1, 1);

    width: 100%;
    height: 5rem;
    padding: 0 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &::after {
        content: "";
        position: fixed;
        height: 3px;
        width: 100%;
        // background: linear-gradient(to right, white, $color-secondary-1);
    }
}

#logo {
    height: 100%;
    padding: 0 0rem;
    line-height: 0rem;
    display: flex;
    align-items: center;

    h1 {
        color: white;
    }

    img {
        height: 40px;
    }
}

a {
    transition: .3s ease-out;
}

nav {

    display: flex;
    height: 100%;
    // width: 40%;
    font-weight: 500;
    // max-width: 400px;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;

    // font-weight: 700;
    // text-transform: uppercase;

    .scroll {


        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: ghostwhite;
        opacity: 0.6;
        text-decoration: none;
        padding: 0rem 2rem;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            transform: translateY(0px);
        }

        &::before {
            z-index: 0;
            height: 100%;
            content: "";
        }
    }

    .scroll:hover {
        opacity: 1;

        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            bottom: 0;
            animation-name: fire;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: forwards;
            backface-visibility: hidden;

        }


    }

    @keyframes fire {
        0% {

            background-color: rgba(ghostwhite, 0);
            height: 100%;
            width: 100%;
        }

        100% {
            background-color: rgba(ghostwhite, .2);
            height: 100%;
            width: 100%;

        }
    }

    .active {
        color: $color-white-1;
        opacity: 1;
        background: rgba(black, .2);
        background: rgba($color-primary-1, .3);
        background: linear-gradient(to bottom right, rgba($color-primary-1, .3), $color-tertiary-1);
        transform: translateY(-3px);

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            transform: translateY(3px);
            background: rgba($color-secondary-1, .75);
            background: $color-secondary-1;
        }

    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    nav {
        // width: 50%;

        .scroll {
            padding: 0 2rem;
        }
    }


}

@media (min-width: 0px) and (max-width: 768px) {
    nav {
        display: none;
    }

    #logo {
        img {
            height: 32px;
        }

    }

    .menu__button {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .hamburger {
        position: relative;
        width: 2rem;
        cursor: pointer;
    }

    .line {
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 20px;
        background: $color-white-1;
        transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
    }

    .top {
        top: -10px;
    }

    .middle {
        top: 0;
    }

    .bottom {
        top: 10px;
    }

    .close>.top {
        transform: rotate(45deg);
        top: 0;
    }

    .close>.middle,
    .close>.bottom {
        transform: rotate(-45deg);
        top: 0;
    }
}