canvas {
    // overflow-x: hidden;
    display: block;
    overflow: hidden;
    // width: 95%;
    // margin: 0;

}

header {
    position: fixed;
    z-index: 1000;
    // background: rgba(255, 255, 255, 0.5);
    background: rgba($color-asphalt-dark-4, .95);
    // opacity: 0.5;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;
    // margin: 0 auto;
    height: 5rem;

    // align-items: center;
    .container {
        margin: 0 auto;
        height: 100%;
        // background: slategray;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

}



#logo {
    // align-self: center;
    height: 100%;
    // margin: 2rem;
    padding: 0 0rem;
    // margin-left: 4rem;
    // background: lightgrey;
    line-height: 0rem;
    display: flex;
    align-items: center;

    h1 {
        // line-height: 1rem;
        color: white;
    }
}

nav {
    display: flex;
    // position: relative;
    // height: 100%;
    // border: 2px solid yellowgreen;
    width: 35%;
    // background: silver;


    ul {
        margin: 0;
        // padding: 0;
        // height: 100%;
        width: 100%;
        // background: green;
        // border: 5px solid grey;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    li {
        // height: 100%;
        // width:
        // display: flex;
        // justify-content: center;
        // align-content: center;
        transition: all .2s ease-out;
        list-style: none;

    }

    li:hover {
        transform: translateY(-2px);
    }

    a::before {
        content: "";
        position: absolute;
        bottom: -.75rem;
        width: 0%;
        height: 0px;
        background: $color-white-1;
        transition: all .2s ease-out;
        // z-index: 10000;
    }

    a:hover::before {
        width: 100%;
        height: 2px;




    }


    a {
        // background: green;

        // height: 100%;

        // align-self: center;
        padding: 1rem 0;
        font-size: 1rem;
        letter-spacing: 2px;
        color: white;
        text-decoration: none;
        opacity: 0.7;
        transition: all .2s ease-out;
    }

    a:hover {
        // color: blue;
        transform: translateY(5px);
    }

    // a:active,
    // a:focus,
    // a:target {
    //     opacity: 1;
    // }

    // :target {
    //     opacity: 1;
    // }

    .active {
        // background: rgba(white, 0.2);
        opacity: 1;
        // transform: scale(1.05, 1.05);
        // font-size: 1.25rem;
        // font-weight: 700;
    }


}