#links {
    position: absolute;
    // top: 20rem;
    top: 12rem;
    right: 0%;
    width: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    background: rgba($color-asphalt-dark-4, .95);

    a {
        color: white;
    }

    img {
        opacity: 0.5;
        transition: opacity .2s ease-out;

    }

    img:hover {
        opacity: 1;
    }


}

@media (min-width: 0px) and (max-width: 768px) {
    #links {
        height: 5rem;
        top: 40rem;
        left: 25%;
        right: 0;
        width: 50%;
        background: none;
        flex-direction: row;
    }
}