#links {
    position: absolute;
    // top: 20rem;
    top: 12rem;
    right: 0%;
    width: 7.5%;
    max-width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
    background: rgba($color-tertiary-1, .95);

    a {
        color: white;
    }

    img {
        opacity: 0.5;
        transition: opacity .2s ease-out;

    }

    img:hover {
        opacity: 1;
    }


}

// Tablet
@media (min-width: 480px) and (max-width: 768px) {
    #links {
        display: none;

        height: 5rem;
        top: 37.5rem;
        left: 25%;
        right: 0;
        width: 50%;
        max-width: none;
        background: none;
        flex-direction: row;
    }
}

// Mobile
@media (min-width: 0px) and (max-width: 480px) {
    #links {
        display: none;
        height: 5rem;
        top: 42.5rem;
        left: 25%;
        right: 0;
        width: 50%;
        max-width: none;
        background: none;
        flex-direction: row;
    }
}