#projects {
    margin: 0rem auto;

    // min-height: 100vh;
    background: ghostwhite;
    padding-bottom: 6rem;

    max-width: 1440px;

    .container {

        padding: 0 15%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-column-gap: 15vw;
        grid-row-gap: 15vw;


    }

    h1 {

        font-size: 2rem;
        text-align: center;
        letter-spacing: 3px;
        color: $color-primary-1;
        padding-top: 8rem;
        padding-bottom: 4rem;
    }

    h3 {
        color: $color-primary-1;
        background: $color-white-1;
        padding: 0 0 1rem 0;
        font-weight: 500;
    }

    .item__image {
        overflow: hidden;
        // height: 22.5vw;
        // width: 100%;
    }

    .item {
        background: $color-primary-1;
        height: 22.5vw;
        max-height: 250px;
        overflow: hidden;
        position: relative;
        // border: 1px solid black;




        img {
            opacity: 0.8;
            width: 100%;
            transition: all .3s ease;
            // overflow: hidden;

            &:hover {
                transform: scale(1.02);
                opacity: 1;
                cursor: pointer;
            }

        }




        .btn-group:hover~img {
            opacity: 1;
        }

        .btn-group {
            bottom: 0%;
            width: 100%;
            position: absolute;
            z-index: 2;
            cursor: pointer;

            display: flex;
            // align-items: bottom;

            .btn {
                display: flex;
                align-items: center;
                padding: 1rem 2rem;
                width: 50%;
                // transition: all 1s ease-out;



                &:hover {

                    span,
                    svg {
                        transform: translateX(5px);
                    }
                }

            }

            .btn-view {
                @extend .btn;
                background-color: rgba($color-primary-1, 0.8);

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    bottom: 0;
                    width: 0%;
                    left: 0;
                    color: black;
                    background: $color-grey-1;
                    opacity: 1;
                    transition: all .2s ease-out;
                }

                &:hover::before {
                    content: "";
                    width: 5px;
                    height: 100%;

                }

                &:hover {
                    background-color: rgba($color-primary-1, 1);
                }
            }

            .btn-github {
                @extend .btn;
                background-color: rgba($color-secondary-1, 0.8);

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    bottom: 0;
                    width: 0;
                    left: 50%;
                    color: black;
                    background: $color-grey-1;

                    opacity: 1;
                    transition: all .2s ease-out;
                }

                &:hover::before {
                    content: "";
                    width: 5px;

                }

                &:hover {
                    background-color: rgba($color-secondary-1, 1);


                }
            }

            a {
                // display: inline-block;
                text-decoration: none;
                line-height: 0;
                color: $color-white-1;
                fill: $color-white-1;

                svg {
                    transition: all .2s ease;
                }

                span {
                    transition: all .2s ease;
                    font-size: 1rem;
                    padding-left: 0.75rem;
                    // background: green;
                }



            }
        }

        .item:hover {
            img {
                opacity: 1;
            }
        }
    }
}

// Regular Screens
@media (min-width: 1024px) and (max-width: 1439px) {

    #projects {
        .container {
            padding: 0 10%;
            display: grid;
            grid-column-gap: 10vw;
            grid-row-gap: 10vw;
        }

        h3 {
            font-size: 1.1rem;
        }
    }

}

// Small Screens
@media (min-width: 768px) and (max-width: 1024px) {

    #projects {
        .container {
            // background: green;
            padding: 0 7.5%;
            display: grid;
            grid-column-gap: 7.5vw;
            grid-row-gap: 7.5vw;
        }

        h3 {
            font-size: 1rem;
        }
    }

}

// Mobile & Tablets
@media (min-width: 0px) and (max-width: 768px) {

    #projects {
        .container {
            // background: green;
            padding: 0 10%;
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0vw;
            grid-row-gap: 20vw;
        }

        h3 {
            font-size: 1rem;
        }

        .item {
            height: 50vw;
            max-height: none;
        }
    }

}